$rci-orange: #ff6b00;
$rci-dark-blue: #16143f;
$rci-light-blue: #bcdeff;
$rci-neutral-blue: #A7CAE0;
$rci-black: #1a1919;
$rci-light-gray: #f1efef;
$rci-white: #ffffff;

$font-style: 'DIN Next LT Pro';