.wrapper{
    display: inline-block;
    width: 100%;
    float: left;

    padding: 50px 0 50px 0;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

    background: #fff;
}
