.wrapper{
    display: inline-block;
    width: 100%;
}

.carousel{
    margin: 0;
    height: 120px;
    color: #fff;
    display: flex;
    align-items: start;

    :global(.slick-slide > div) {
        padding: 0 15px;

        @media(max-width: 600px) {
            padding: 0 10px;
        }
    }

    :global(.slick-list) {
        margin: 0 -5px;
    }

    :global(.slick-dots-bottom){
        top: 150px !important;
        @media(max-width: 800px) {
            top: 125px !important;
        }
    }

    :global(.slick-dots) {   
        li {
            background: black;
            border-radius: 5px;
        }

        :global(.slick-active){ 
            button{
                background: orange !important;
            }
        }
    }

}

.logoImg{
    height: auto;
    width: auto;
    background: red;
    border: 1px solid black;
}