.wrapper{
    width: 100%;
    background: #fff;
    padding-top: 60px;
    margin: 0;

    @media(max-width: 1100px){
        padding-top: 10px;
    }

    h2{
        margin: 0 0 0 0;
        padding: 0;
    }

    ul{
        list-style: disc;
        margin: 0;

        li{
            font-size: 20px;
            color: black;
        }
    }

}